#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  justify-content: center;
  align-items: center;
}

#instructions {
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;

  cursor: pointer;
}
.cta {
  color: blue;
}
.filePick,
.cta {
  font-size: 36px;
}
.filePick label {
  margin-right: 1rem;
}
.sub {
  font-size: 27px;
}

body {
  margin: 0;
}
